In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', 30)

In [2]:
dados_pd = pd.read_json("lotacoes_metro.json")

In [24]:
dados_pd.head()

,rating,rating_n,current_popularity,populartimes,name,place_id,address,coordinates,categories,place_types,popular_times,Latitude,Longitude,latitude_abr,longitude_abr
0,4.3,1687,21,"[{'name': 'Monday', 'data': [11, 5, 2, 3, 17, ...",Jabaquara,ChIJGeqxXN1azpQReOktTOQJGK8,"R. dos Jequitibás - Jabaquara, São Paulo - SP,...","{'lat': -23.6461957, 'lng': -46.6407825}",[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not busy', '', '4\u202fA...",-23.646196,-46.640783,-23.65,-46.64
1,4.4,550,24,"[{'name': 'Monday', 'data': [8, 4, 2, 2, 11, 2...",Conceição,ChIJV8LdrPpazpQRpB9Sj_uJ1Ww,"Vila Guarani, São Paulo - State of São Paulo","{'lat': -23.635196999999998, 'lng': -46.6412687}",[Subway station],[[subway_station]],"[[7, [[4, 5, 'Usually not busy', '', '4\u202fA...",-23.635197,-46.641269,-23.64,-46.64
2,4.4,491,23,"[{'name': 'Monday', 'data': [9, 5, 3, 4, 14, 3...",São Judas,ChIJQRIx7VdazpQRgL9W35lxi-M,"Vila Monte Alegre, São Paulo - State of São Pa...","{'lat': -23.625626999999998, 'lng': -46.640842...",[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not busy', '', '4\u202fA...",-23.625627,-46.640842,-23.63,-46.64
3,4.4,813,17,"[{'name': 'Monday', 'data': [11, 6, 3, 2, 9, 2...",Praça da Árvore,ChIJw8hM5rRbzpQRQdtJ2ivTZ3U,"Praça da Árvore, 39 - Mirandópolis, São Paulo ...","{'lat': -23.6105101, 'lng': -46.637934}",[Subway station],[[subway_station]],"[[7, [[4, 4, 'Usually not busy', '', '4\u202fA...",-23.610510,-46.637934,-23.61,-46.64
4,4.4,2683,23,"[{'name': 'Monday', 'data': [7, 3, 1, 2, 13, 3...",Santa Cruz,ChIJxYfY1DNazpQRpcAmbOPOYRU,"R. Domingos de Morais, 2564 - Vila Mariana, Sã...","{'lat': -23.5989093, 'lng': -46.6368331}",[Subway station],[[subway_station]],"[[7, [[4, 6, 'Usually not busy', '', '4\u202fA...",-23.598909,-46.636833,-23.60,-46.64

In [3]:
def extrair_lat(texto):
    return texto["lat"] 

def extrair_lng(texto):
    return texto["lng"]

In [4]:
dados_pd["Latitude"] = dados_pd["coordinates"].apply(extrair_lat)
dados_pd["Longitude"] = dados_pd["coordinates"].apply(extrair_lng)

In [5]:
dc = 1000
dados_pd["latitude_abr"] = dados_pd["Latitude"].apply(lambda x: float(int(x*dc))/dc)
dados_pd["longitude_abr"] = dados_pd["Longitude"].apply(lambda x: float(int(x*dc))/dc)

In [40]:
dados_pd.head()

,rating,rating_n,current_popularity,populartimes,name,place_id,address,coordinates,categories,place_types,popular_times,Latitude,Longitude,latitude_abr,longitude_abr
0,4.3,1687,21,"[{'name': 'Monday', 'data': [11, 5, 2, 3, 17, ...",Jabaquara,ChIJGeqxXN1azpQReOktTOQJGK8,"R. dos Jequitibás - Jabaquara, São Paulo - SP,...","{'lat': -23.6461957, 'lng': -46.6407825}",[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not busy', '', '4\u202fA...",-23.646196,-46.640783,-23.646,-46.640
1,4.4,550,24,"[{'name': 'Monday', 'data': [8, 4, 2, 2, 11, 2...",Conceição,ChIJV8LdrPpazpQRpB9Sj_uJ1Ww,"Vila Guarani, São Paulo - State of São Paulo","{'lat': -23.635196999999998, 'lng': -46.6412687}",[Subway station],[[subway_station]],"[[7, [[4, 5, 'Usually not busy', '', '4\u202fA...",-23.635197,-46.641269,-23.635,-46.641
2,4.4,491,23,"[{'name': 'Monday', 'data': [9, 5, 3, 4, 14, 3...",São Judas,ChIJQRIx7VdazpQRgL9W35lxi-M,"Vila Monte Alegre, São Paulo - State of São Pa...","{'lat': -23.625626999999998, 'lng': -46.640842...",[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not busy', '', '4\u202fA...",-23.625627,-46.640842,-23.625,-46.640
3,4.4,813,17,"[{'name': 'Monday', 'data': [11, 6, 3, 2, 9, 2...",Praça da Árvore,ChIJw8hM5rRbzpQRQdtJ2ivTZ3U,"Praça da Árvore, 39 - Mirandópolis, São Paulo ...","{'lat': -23.6105101, 'lng': -46.637934}",[Subway station],[[subway_station]],"[[7, [[4, 4, 'Usually not busy', '', '4\u202fA...",-23.610510,-46.637934,-23.610,-46.637
4,4.4,2683,23,"[{'name': 'Monday', 'data': [7, 3, 1, 2, 13, 3...",Santa Cruz,ChIJxYfY1DNazpQRpcAmbOPOYRU,"R. Domingos de Morais, 2564 - Vila Mariana, Sã...","{'lat': -23.5989093, 'lng': -46.6368331}",[Subway station],[[subway_station]],"[[7, [[4, 6, 'Usually not busy', '', '4\u202fA...",-23.598909,-46.636833,-23.598,-46.636

In [6]:
import json

# Abrir o arquivo JSON e carregá-lo em um dicionário
with open('trajeto_trabalho.json', 'r') as arquivo:
    trajeto = json.load(arquivo)

In [7]:
steps = trajeto["routes"][0]["legs"][0]["steps"]

In [8]:
train_steps = []
for i in steps:
    try:
        o = i["transit_details"]
        if o["line"]["vehicle"]["type"] in ("SUBWAY", "HEAVY_RAIL"):
            train_steps.append(o["departure_stop"]["location"])
    except:
        pass

In [9]:
train_steps

[{'lat': -23.59227, 'lng': -46.73554000000001},
 {'lat': -23.5666204, 'lng': -46.7030142}]

In [10]:
import requests 
def geolocation(lat, lng):
    return requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyALXezoywqm1Vfc4KCU5YEnCQOSGSvSPPM&latlng={lat}, {lng}").json()

In [11]:
x = geolocation(train_steps[0]['lat'], train_steps[0]['lng'])

In [18]:
dc = 1000
cont = 0

for i in x["results"]:
    lat1 = float(int(i["geometry"]["location"]["lat"]*dc))/dc
    lng1 = float(int(i["geometry"]["location"]["lng"]*dc))/dc

    lat2 = float(int(i["geometry"]["viewport"]["northeast"]["lat"]*dc))/dc
    lng2 = float(int(i["geometry"]["viewport"]["northeast"]["lng"]*dc))/dc

    lat3 = float(int(i["geometry"]["viewport"]["southwest"]["lat"]*dc))/dc
    lng3 = float(int(i["geometry"]["viewport"]["southwest"]["lng"]*dc))/dc    

    for lat in [lat1, lat2, lat3]:        
        for lng in [lng1, lng2, lng3]:
            if cont == 0:
                #print(f"{lat}, {lng}")
                df = dados_pd[(dados_pd["latitude_abr"]==lat)&(dados_pd["longitude_abr"]==lng)]
                if df.empty==False:
                    lotacao = df["populartimes"]
                    cont = 1

In [20]:
def converte(paulista):
    paulista_dict = {}
    for i in paulista:
        paulista_dict[i["name"]] = i["data"]
    return pd.DataFrame(paulista_dict)

In [29]:
from datetime import datetime

In [38]:
tabela_lotacoes = converte(dict(lotacao)[56]).reset_index()

In [46]:
tabela_lotacoes[tabela_lotacoes['index']==int(datetime.now().strftime("%H"))][datetime.now().strftime("%A")].to_string(index=False)

'24'

In [101]:
dados_pd[(dados_pd["latitude_abr"]==-23.592) & (dados_pd["longitude_abr"]==-46.734)]

,rating,rating_n,current_popularity,populartimes,name,place_id,address,coordinates,categories,place_types,popular_times,Latitude,Longitude,latitude_abr,longitude_abr
56,4.6,2679,21,"[{'name': 'Monday', 'data'...",Estação Vila Sônia - Prof....,ChIJOfWnsr9XzpQR5t-0T6jm9V4,Av. Prof. Francisco Morato...,"{'lat': -23.592867, 'lng':...",[Metropolitan train company],[[metropolitan_train_compa...,"[[7, [[3, 0, '', '', '3\u2...",-23.592867,-46.73486,-23.592,-46.734

In [100]:
dados_pd.head()

,rating,rating_n,current_popularity,populartimes,name,place_id,address,coordinates,categories,place_types,popular_times,Latitude,Longitude,latitude_abr,longitude_abr
0,4.3,1687,21,"[{'name': 'Monday', 'data'...",Jabaquara,ChIJGeqxXN1azpQReOktTOQJGK8,R. dos Jequitibás - Jabaqu...,"{'lat': -23.6461957, 'lng'...",[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not ...",-23.646196,-46.640783,-23.646,-46.640
1,4.4,550,24,"[{'name': 'Monday', 'data'...",Conceição,ChIJV8LdrPpazpQRpB9Sj_uJ1Ww,"Vila Guarani, São Paulo - ...",{'lat': -23.63519699999999...,[Subway station],[[subway_station]],"[[7, [[4, 5, 'Usually not ...",-23.635197,-46.641269,-23.635,-46.641
2,4.4,491,23,"[{'name': 'Monday', 'data'...",São Judas,ChIJQRIx7VdazpQRgL9W35lxi-M,"Vila Monte Alegre, São Pau...",{'lat': -23.62562699999999...,[Subway station],[[subway_station]],"[[7, [[4, 7, 'Usually not ...",-23.625627,-46.640842,-23.625,-46.640
3,4.4,813,17,"[{'name': 'Monday', 'data'...",Praça da Árvore,ChIJw8hM5rRbzpQRQdtJ2ivTZ3U,"Praça da Árvore, 39 - Mira...","{'lat': -23.6105101, 'lng'...",[Subway station],[[subway_station]],"[[7, [[4, 4, 'Usually not ...",-23.610510,-46.637934,-23.610,-46.637
4,4.4,2683,23,"[{'name': 'Monday', 'data'...",Santa Cruz,ChIJxYfY1DNazpQRpcAmbOPOYRU,"R. Domingos de Morais, 256...","{'lat': -23.5989093, 'lng'...",[Subway station],[[subway_station]],"[[7, [[4, 6, 'Usually not ...",-23.598909,-46.636833,-23.598,-46.636

#### Análise de Duplicidade

In [34]:
dados_pd.count()

rating                59
rating_n              59
current_popularity    59
populartimes          59
name                  59
place_id              59
address               59
coordinates           59
categories            59
place_types           59
popular_times         59
Latitude              59
Longitude             59
latitude_abr          59
longitude_abr         59
dtype: int64

In [41]:
dados_pd_group = dados_pd[["latitude_abr", "longitude_abr", "name"]].groupby(["latitude_abr", "longitude_abr"]).count()

In [42]:
dados_pd_group.count()

name    59
dtype: int64

In [43]:
dados_pd_group[dados_pd_group["name"]>1]

Empty DataFrame
Columns: [name]
Index: []

In [31]:
#antigo
dados_pd_group.head()

                            name
latitude_abr longitude_abr
-23.66       -46.77            1
             -46.72            1
-23.65       -46.76            1
             -46.71            1
             -46.64            1

In [30]:
#antigo
dados_pd_group.count()

name    54
dtype: int64

In [33]:
#antigo
dados_pd_group[dados_pd_group["name"]>1]

                            name
latitude_abr longitude_abr
-23.59       -46.63            2
-23.58       -46.64            2
-23.56       -46.66            2
-23.55       -46.63            2
-23.54       -46.64            2

In [51]:
dados_pd[(dados_pd["latitude_abr"]==-23.59) & (dados_pd["longitude_abr"]==-46.73)]

,rating,rating_n,current_popularity,populartimes,name,place_id,address,coordinates,categories,place_types,popular_times,Latitude,Longitude,latitude_abr,longitude_abr
56,4.6,2679,21,"[{'name': 'Monday', 'data'...",Estação Vila Sônia - Prof....,ChIJOfWnsr9XzpQR5t-0T6jm9V4,Av. Prof. Francisco Morato...,"{'lat': -23.592867, 'lng':...",[Metropolitan train company],[[metropolitan_train_compa...,"[[7, [[3, 0, '', '', '3\u2...",-23.592867,-46.73486,-23.59,-46.73